@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 968px) {
  .main-container {
    height: 90vh;
    width: 90vw;
    box-shadow:
      0 8px 24px rgba(0, 0, 0, 0.55),
      inset 0 0 0 1px rgba(255, 255, 255, 0.04);
    display: flex;
    flex-direction: column;
  }

  .celine-gelo {
    width: 50%;
    margin: 5vh 0;
  }

  .gif {
    height: 90vh;
    position: absolute;
    bottom: 5vh;
    left: auto;
  }

  .details-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5vw;

    > *:not(:last-child) {
      margin-right: 5vw;
    }
  }

  .notice {
    position: absolute;
    bottom: 5vh;
    background-color: #F8EECA;
    height: 4vh;
    z-index: 50;
    font-family: 'Piazzolla', serif;
  }

  .navigation-buttons {
    position: absolute;
    top: 6vh;
    left: 5.5vw;
    z-index: 50;
    display: flex;
    align-items: center;

    > :not(:last-child) {
      margin-right: 1vw;
    }
  }

  .attire-guide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .attire-guide-img {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 60%;
    width: auto;
    z-index: -1;
  }

  .button-guides {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    margin-top: 65vh;
  }

  .entourage-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
   
  .main-divider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    margin-bottom: 5vh;
  }

  .header-text {
    font-size: 1.5vw;
  }

  .subheader {
    font-size: 1.5vw;
  }

  .divider {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;

    > :first-child {
      margin-right: 5vw;
    }
  }

  .parent-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .guest-header {
    text-align: center;
  }
}

@media (max-width: 968px) {
  .main-container {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
  }

  .celine-gelo {
    width: min(80vw, 420px);
    margin: 10vh 0 0;
  }

  .gif {
    position: absolute;
    bottom: 0dvh;
    max-height: 50vh;
    max-width: 100vw;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5vh 0 0;

    > *:not(:last-child) {
      margin-bottom: 4vh;
    }
  }

  .notice {
    position: absolute;
    bottom: 28vh;
  }

  .navigation-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    display: flex;
    align-items: center;

    > :not(:last-child) {
      margin-right: 3vw;
    }
  }

  .attire-guide {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .button-guides {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 75vh;
  }

  .attire-guide-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .guide-notice {
    width: 90vw;
    background-color: #F8EECA;
  }

  .entourage-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;

    span {
      text-align: center;
    }
  }
   
  .main-divider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    margin-bottom: 5vh;
  }

  .header-text {
    font-size: 2vh;
  }

  .subheader, .header-text {
    font-size: 2.5vh;
  }

  .divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > :first-child {
      margin-bottom: 2.5vh;
    }
  }

  .parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    > span {
      text-align: center;
    }
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Piazzolla', serif;
  touch-action: manipulation;
  position: relative;
  min-height: 100vh;
  background-color: #AFAFAF;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F8EECA;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail, .guest, .entourage-container {
  font-family: 'Petit Formal Script', cursive;
}

.detail {
  font-size: 20px;
  text-align: center !important;
}

.small-detail {
  font-size: 14px;
  opacity: 0.5;
}

.colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 5px;
}

.color {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: solid 1px black;
}

.color1 {
  background-color: #CD4F1F;
}

.color2 {
  background-color: #A83A17;
}

.color3 {
  background-color: #7E1229;
}

.color4 {
  background-color: #32171D;
}

.fade-in {
  animation: fadeIn 1.5s ease-in forwards;
}

.home {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

a {
  padding: 5px;
  border: solid 1px black;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  font-family: 'Perpetua Titling MT', serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  background-color: #E8C6A8;
  z-index: 50;

  > img {
    max-height: 25px;
  }

  :first-child {
    margin-right: 10px;
  }
}

.guide-notice {
  text-align: center;
  font-size: 14px;
  align-self: center;
  margin-top: 10px;
  font-family: 'Preahvihear', serif;
  z-index: 50;
}

.icon-btn {
  box-shadow:
    0 4px 4px rgba(0, 0, 0, 0.55),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  border: 0;
  margin: 0;
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
}

.notice {
  color: rgba(0,0,0,0.5);
}

.cord {
  margin-top: 2vh;
}
