<div class="page-container">
  <div class="main-container" (pointerdown)="toggleMenu()">
    @if (showElement) {
      <span
        class="intro"
        (transitionend)="onIntroFadeEnd($event)"
        [class.fade-in]="!menuOpened"
        [class.fade-out]="menuOpened">You are invited to the celebration of love of</span>
    }
    <img
      src="https://res.cloudinary.com/dlk5shsgs/image/upload/v1774874860/Group_5_ok3eol.png"
      class="wedding-names fade-in"
      [class.fade-out]="optionSelected"
      [class.slide-up]="menuOpened"
      alt="Celine & Gelo" />

    <div class="menu-hidden" [class.main-menu]="showMenu">
      <app-carousel></app-carousel>

      <!-- <app-our-story [class.fade-in-option]="optionSelected && selected == 'our-story'"></app-our-story> -->

      <div class="btn-container">
        <button class="btn-bg" type="button" (click)="navigate('our-story')">
          <img src="https://res.cloudinary.com/dlk5shsgs/image/upload/v1774875639/Our_Story1_kc9cyf.png" alt="Our Story">
          <span>Our Story</span>
        </button>
        <button class="btn-bg" type="button" (click)="navigate('details')">
          <img class="details" src="https://res.cloudinary.com/dlk5shsgs/image/upload/v1774875646/Details_xjwdln.png" alt="Details">
          <span>Details</span>
        </button>
        <button class="btn-bg" type="button" (click)="navigate('rsvp')">
          <img class="rsvp" src="https://res.cloudinary.com/dlk5shsgs/image/upload/v1774875640/RSVP1_oagqy5.png" alt="RSVP">
          <span>RSVP</span>
        </button>
        <button class="btn-bg" type="button" (click)="navigate('faqs')">
          <img src="https://res.cloudinary.com/dlk5shsgs/image/upload/v1774875647/FAQs_kvh1eb.png" alt="FAQs">
          <span>FAQs</span>
        </button>
        <button class="btn-bg" type="button" (click)="navigate('maps')">
          <img class="maps" src="https://res.cloudinary.com/dlk5shsgs/image/upload/v1774875639/Maps_e9n7sm.png" alt="Maps">
          <span>Maps</span>
        </button>
      </div>
    </div>
    
    @if (showElement) {
      <span class="notice"
      (transitionend)="onIntroFadeEnd($event)"
      [class.fade-in]="!menuOpened"
      [class.fade-out]="menuOpened">Press anywhere to continue.</span>
    }
  </div>
</div>