
@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  font-family: 'Piazzolla', serif;
}

@media (min-width: 968px) {
  .intro {
    font-size: 24px;
    margin: 27vh 0 5px;
    transition: opacity 1s ease;
    
    &.fade-out {
      opacity: 0;
      pointer-events: none;
    }
  }

  .wedding-names {
    width: 50%;
    transition: transform 2s ease, opacity 2s ease;

    &.slide-up {
      transform: translateY(-25vh);
      pointer-events: none;
    }
  }

  .notice {
    font-family: 'Piazzolla', serif;
    font-size: 14px;
    margin-top: 26.65%;
    opacity: 0.5;
    transition: opacity 1s ease;
    
    &.fade-out {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@media (max-width: 967px) {
  .intro {
    font-size: 14px;
    margin: 38.5vh 0 5px;
  }

  .wedding-names {
    width: 80%;
  }

  .notice {
    font-family: 'Piazzolla', serif;
    font-size: 14px;
    margin-top: 28%;
    opacity: 0.5;
  }
}
