@import url('https://fonts.googleapis.com/css2?family=Biro+Script+Plus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Perpetua+Titling+MT&display=swap');

.page-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Biro Script Plus', cursive;
}

@media (min-width: 968px) {
  .modal{
    height: 30vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35vh 0;
  }

  .input-wrapper{
    width: 510px;
    background-color: #eee;
    height: 28px;
    position: absolute;
    top: 44.4vh;
    margin-bottom: -5px;
    z-index: -1;
  }

  button{
    margin-top: 50px;
    border: 0;
    font-size: 28px;
    font-family: 'Perpetua Titling MT', serif;
    border-radius: 25%;
    padding: 5px 20px 10px;
    opacity: 0.5;
    background-color: #D9D9D9;

    :hover{
      cursor: pointer;
    }
  }
}

@media (max-width: 967px) {
  .page-container {
    overflow: hidden;
  }
  
  input[type="text"] {
    background-color: #eee;
    width: 90vw;
  }

  button{
    margin-top: 50px;
    border: 0;
    font-size: 28px;
    font-family: 'Perpetua Titling MT', serif;
    border-radius: 25%;
    padding: 5px 20px 10px;
    opacity: 0.5;
    background-color: #D9D9D9;

    :hover{
      cursor: pointer;
    }
  }
  
  .modal{
    height: 40vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30vh 0;
  }
}

.welcome {
  font-size: 20px;
  font-family: 'Perpetua Titling MT', serif;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-label{
  align-self: flex-start;
}

span, label{
  font-size: 14px;
}

.welcome-flower {
  margin: -115px 0 15px;
  transform: rotate(-15deg);
}