@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

.page-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Biro Script Plus", "Biro Script", "Brush Script MT", cursive;
}

@media (min-width: 968px) {
  .modal{
    height: 30vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35vh 0;
  }

  .input-wrapper{
    width: 510px;
    background-color: #eee;
    height: 28px;
    position: absolute;
    top: 44.4vh;
    margin-bottom: -5px;
    z-index: -1;
  }

  button{
    border: 0;
    font-size: 28px;
    font-family: 'Perpetua Titling MT', serif;
    border-radius: 25%;
    padding: 5px 20px 10px;
    opacity: 0.5;
    background-color: #D9D9D9;

    :hover{
      cursor: pointer;
    }
  }

  .close-btn {
    border: 0;
    font-size: 28px;
    font-family: 'Perpetua Titling MT', serif;
    border-radius: 25%;
    padding: 0 15px 10px;
    opacity: 0.5;
    background-color: #D9D9D9;

    :hover{
      cursor: pointer;
    }
  }

  .error-modal {
    background-color: white;
    width: 40vw;
    height: 30vh;
    padding: 0 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .error-message {
    margin-bottom: 10%;
    font-family: 'Petit Formal Script', cursive;
    font-size: 13px;
    text-align: center;
  }

}

@media (max-width: 967px) {
  .page-container {
    overflow: hidden;
  }
  
  input[type="text"] {
    background-color: #eee;
    width: 90vw;
  }

  button{
    border: 0;
    font-size: 28px;
    border-radius: 25%;
    padding: 5px 20px 10px;
    opacity: 0.5;
    background-color: #D9D9D9;

    :hover{
      cursor: pointer;
    }
  }

  .close-btn {
    border: 0;
    font-size: 28px;
    font-family: 'Perpetua Titling MT', serif;
    border-radius: 25%;
    padding: 0 15px 10px;
    opacity: 0.5;
    background-color: #D9D9D9;

    :hover{
      cursor: pointer;
    }
  }
  
  .modal{
    height: 40vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30vh 0;
  }

  .error-modal {
    padding: 0 15px;
    background-color: white;
    width: 80vw;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .error-message {
    margin-bottom: 15px;
    font-family: 'Petit Formal Script', cursive;
    font-size: 12px;
    text-align: center;
  }
}

.welcome {
  font-size: 20px;
  font-family: 'Perpetua Titling MT', serif;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-label{
  align-self: flex-start;
}

span, label{
  font-size: 14px;
}

.welcome-flower {
  margin: -115px 0 15px;
  transform: rotate(-15deg);
}

.btn-container {
  margin-top: 50px;
}

@keyframes ellipsis {
  0% {
    content: '.';
  }
  25% {
    content: '..';
  }
  50% {
    content: '...';
  }
  75% {
    content: '...';
  }
  100% {
    content: '.';
  }
}

.validation {
  font-size: 16px;
  margin: 13px 0;
  font-family: 'Petit Formal Script', cursive;
  
  &::after {
    content: '.';
    animation: ellipsis 1.5s steps(4, end) infinite;
  }
}

.error-overlay {
  display: none;
}

.show-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 500;
}
